<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{mm:ss:SSS} %highlight(%-5level) %green(%logger{20}) %cyan(%msg%n)</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="com.github.jnexil.neuvi" level="ALL"/>
    <logger name="com.github.jnexil.skribe" level="INFO"/>
</configuration>